<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>pmcBucket</title>
    </head>
    <body>
        <form action="/userHome" method="get" enctype="multipart/form-data">
            <input type="submit" value="Users go here">
        </form>
        <br>
        <form action="/memberHome" method="get" enctype="multipart/form-data">
            <input type="submit" value="Members go here">
        </form>
        <br>

        <!-- <h3> Search Someone !</h3>
        <form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="userPhoto" accept="image/*"><br>
            <input type="submit">
        </form> -->
    </body>
</html>