<!DOCTYPE html>
<html>
<head>
	<title>pmcBucket</title>
</head>
<body>
	<h1>Images Found</h1><br>
	
	<div>
		<p><%= images.length %></p>
		<% for(var i=0; i<images.length; i++) {%>
		<p><%= images[i] %></p>
		<img src="/data/filter_images/<%= images[i] %>" height=200 width=200>
		<% } %>
    </div>
</body>
</html>

