<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>File Upload</title>
    </head>
    <body>
        <p> Uploaded. </p>
        <img src="../uploads/<% filename %>"/>
    </body>
</html>